<%# locals: (message:) %>
<div class="rounded-2xl bg-rose-50 ring-1 ring-rose-100 p-6 text-rose-900 flex items-start gap-3">
  <span class="mt-0.5 inline-flex h-8 w-8 items-center justify-center rounded-full bg-rose-100 text-rose-600">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
      <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-8-5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-4.5A.75.75 0 0 1 10 5Zm0 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
    </svg>
  </span>
  <div>
    <p class="font-semibold">We couldn't fetch the forecast.</p>
    <p class="text-sm text-rose-800/90 mt-1"><%= message %></p>
  </div>
</div>
